{% extends 'base.html' %}
{% load static i18n averta_tags %}

{% block seo_meta %}
{% trans "Səyahət məsləhətləri, viza yenilikləri, tur paketləri və dünyanın ən populyar istiqamətləri haqqında faydalı məlumatları Averta Travel blogunda oxuyun." as seo_description %}
{% seo_meta description=seo_description %}
{% endblock %}

{% block content %}
{% include 'partials/page_header.html' %}

<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">{% trans "Bloqlar" %}</h5>
        </div>
        {% if blogs %}
        <div class="row g-4">
            {% for blog in blogs %}
            {% include 'partials/blog_card.html' %}
            {% endfor %}
        </div>
        {% include 'partials/pagination.html' %}
        {% else %}
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="img-fluid w-100 rounded-top" src="{% static 'assets/img/blog-1.jpg' %}" alt="">
                    </div>
                    <div class="blog-content border p-4">
                        <a href="#" class="h4">Adventures Trip</a>
                        <p class="my-3">Tempor erat elitr rebum at clita.</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
