{% extends 'base.html' %}
{% load i18n averta_tags %}

{% block seo_meta %}
{% trans "Viza dəstəyi, aviabilet satışı, otel rezervasiyası, transfer xidməti və fərdi səyahət planlaması üçün Averta Travel xidmətlərindən yararlanın." as seo_description %}
{% seo_meta description=seo_description %}
{% endblock %}

{% block content %}
{% include 'partials/page_header.html' %}

<div class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">{% trans "Xidmətlər" %}</h5>
        </div>
        {% if services %}
        <div class="row g-4">
            {% for service in services %}
            {% include 'partials/service_card.html' %}
            {% endfor %}
        </div>
        {% include 'partials/pagination.html' %}
        {% else %}
        <div class="row g-4">
            <div class="col-12">
                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4">
                    <div class="service-icon p-4"><i class="fa fa-globe fa-4x text-primary"></i></div>
                    <div class="service-content">
                        <h5 class="mb-4">WorldWide Tours</h5>
                        <p class="mb-0">Dolor sit amet consectetur adipisicing elit. Non alias eum, suscipit expedita corrupti officiis debitis.</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
