<div class="container-fluid footer py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Əlaqə</h4>
                    {% if contact.address %}
                    <a href="{% url 'services:contact-page' %}"><i class="fas fa-home me-2"></i> {{ contact.address }}</a>
                    {% else %}
                    <a href="{% url 'services:contact-page' %}"><i class="fas fa-home me-2"></i> Ünvan</a>
                    {% endif %}
                    {% if contact.email %}
                    <a href="mailto:{{ contact.email }}"><i class="fas fa-envelope me-2"></i> {{ contact.email }}</a>
                    {% endif %}
                    {% if contact.phone %}
                    <a href="tel:{{ contact.phone }}"><i class="fas fa-phone me-2"></i> {{ contact.phone }}</a>
                    {% endif %}
                    <div class="d-flex align-items-center mt-3">
                        {% if contact.facebook %}
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="{{ contact.facebook }}" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
                        {% endif %}
                        {% if contact.instagram %}
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="{{ contact.instagram }}" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                        {% endif %}
                        {% if contact.linkedn %}
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="{{ contact.linkedn }}" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Səhifələr</h4>
                    <a href="{% url 'services:about-page' %}"><i class="fas fa-angle-right me-2"></i> Haqqımızda</a>
                    <a href="{% url 'services:service-page' %}"><i class="fas fa-angle-right me-2"></i> Xidmətlər</a>
                    <a href="{% url 'services:home-page' %}#packages"><i class="fas fa-angle-right me-2"></i> Paketlər</a>
                    <a href="{% url 'services:blog-page' %}"><i class="fas fa-angle-right me-2"></i> Bloq</a>
                    <a href="{% url 'services:faq-page' %}"><i class="fas fa-angle-right me-2"></i> Tez-tez verilən suallar</a>
                    <a href="{% url 'services:contact-page' %}"><i class="fas fa-angle-right me-2"></i> Əlaqə</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Şablon səhifələr</h4>
                    <a href="destination.html"><i class="fas fa-angle-right me-2"></i> Destination</a>
                    <a href="gallery.html"><i class="fas fa-angle-right me-2"></i> Gallery</a>
                    <a href="guides.html"><i class="fas fa-angle-right me-2"></i> Guides</a>
                    <a href="testimonial.html"><i class="fas fa-angle-right me-2"></i> Testimonial</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid copyright text-body py-4">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-12 text-center">
                <div>
                    © 2026 <a href="https://digiboom.az/" target="_blank" rel="noopener noreferrer">DigiBoom</a> · Bütün hüquqlar qorunur.
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>
