{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'assets/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'assets/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/lib/lightbox/js/lightbox.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}?v=20260602a"></script>
<script src="{% static 'assets/js/ajax_forms.js' %}?v=20260608b"></script>
{% include 'partials/booking_date_picker_scripts.html' %}
<script src="{% static 'assets/js/home_booking.js' %}?v=20260624e"></script>
{% if turnstile_site_key %}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{% endif %}
