{% load static %}
<div class="col-12 col-md-6 col-lg-4 d-flex">
    <article class="service-card">
        <a href="{% url 'services:service-detail' service.slug %}" class="service-card__media-link" aria-label="{{ service.name }}">
            <div class="service-card__media">
                {% if service.cover_image %}
                <img src="{{ service.cover_image }}" alt="{{ service.name }}" loading="lazy">
                {% elif service.medias.0.image %}
                <img src="{{ service.medias.0.image }}" alt="{{ service.name }}" loading="lazy">
                {% else %}
                <span class="service-card__placeholder" aria-hidden="true">
                    <i class="fa fa-concierge-bell"></i>
                </span>
                {% endif %}
            </div>
        </a>
        <div class="service-card__body">
            <h5 class="service-card__title">
                <a href="{% url 'services:service-detail' service.slug %}" class="service-card__title-link">{{ service.name }}</a>
            </h5>
            <p class="service-card__excerpt">{{ service.description|striptags|truncatewords:22 }}</p>
            {% include 'partials/service_card_actions.html' %}
        </div>
    </article>
</div>
