<div class="col-12 col-md-6 col-lg-4 mb-4">
    <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 h-100">
        <div class="service-icon p-3 me-3">
            {% if service.medias.0.image %}
            <img src="{{ service.medias.0.image }}" alt="{{ service.name }}" class="rounded" style="width:80px;height:80px;object-fit:cover;">
            {% else %}
            <i class="fa fa-concierge-bell fa-3x text-primary"></i>
            {% endif %}
        </div>
        <div class="service-content flex-grow-1">
            <h5 class="mb-2">{{ service.name }}</h5>
            <p class="mb-0 small">{{ service.description|truncatewords:25 }}</p>
        </div>
    </div>
</div>
