{% extends "admin/averta/change_list.html" %}
{% load i18n %}

{% block content %}
{% if booking_export_json %}{{ booking_export_json|json_script:"bookingExportListData" }}{% endif %}
{{ block.super }}
{% endblock %}

{% block object-tools-items %}
  <li>
    <a href="#" class="button" id="bookingExportListCsvBtn" title="{% trans 'Cari siyahını CSV kimi yüklə' %}">
      {% trans "CSV yüklə" %}
    </a>
  </li>
  <li>
    <a href="#" class="button" id="bookingExportListXlsBtn" title="{% trans 'Cari siyahını Excel kimi yüklə' %}">
      {% trans "Excel yüklə" %}
    </a>
  </li>
  {{ block.super }}
{% endblock %}

